{% extends 'base.html.twig' %}

{% block title %}Matériels Empruntés{% endblock %}

{% block body %}
<div class="container my-4 mt-5">
    <h2>Liste des Matériels Empruntés</h2>
    
    <!-- Search Bar -->
    

    <!-- Data Table -->
    <<table class="table table-striped" id="myTable">
        <thead class="thead-dark">
            <tr>
                <th scope="col" onclick="sortTable(0)">Nom du Matériel</th>
                <th scope="col" onclick="sortTable(1)">Type</th>
                <th scope="col" onclick="sortTable(2)">Marque</th>
                <th scope="col" onclick="sortTable(3)">Modèle</th>
                <th scope="col" onclick="sortTable(4)">Numéro de Série</th>
                <th scope="col" onclick="sortTable(5)">Disponibilité</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="tableBody">
           {% for materiel in materiels %}
            <tr>
                <td>{{ materiel.nom }}</td>
                <td>{{ materiel.type }}</td>
                <td>{{ materiel.marque }}</td>
                <td>{{ materiel.modele }}</td>
                <td>{{ materiel.numeroserie }}</td>
                <td>{{ materiel.disponibilite }}</td>
                <td>
                    <button class="btn btn-success btn-sm">Retourner</button>
                    <button class="btn btn-primary btn-sm">Détails</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <nav>
        <ul class="pagination justify-content-center" id="pagination">
            <!-- Pagination will be generated dynamically -->
        </ul>
    </nav>
</div>
<script>
$(document).ready(function() {
    $('#myTable').DataTable();
});
</script>
<!-- JavaScript for Data Table Functionality -->
{% endblock %}
